{% extends 'semantic_web/index.html' %}

{% block content %}
    <div class="ui equal width grid" style="width: 70%;margin: 5px 0 5px 0;">
            <div class="row">
                <div class="column">
                    <div class="ui red segment">
                        <div class="ui statistic">

                            <div class="value">
                                50,000
                            </div>
                            <div class="label">
                                Documents
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui blue segment">
                        <div class="ui statistic">

                            <div class="value">
                                2,000
                            </div>
                            <div class="label">
                                Views
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="ui segment">
                        <div class="ui divided items">
                            <div class="item">
                                <div class="content">
                                    <div class="header">
                                        Title HERE
                                    </div>
                                    <div class="description">
                                        Say Something
                                    </div>
                                    <div class="extra">
                                        <div class="ui label">
                                            Tag1
                                        </div>
                                        <div class="ui label">
                                            Tag2
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

